<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Transport Data QA</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h1>Transport Data QA</h1>

    <p class="lead">
        Data Quality & Passenger Information Management
    </p>

    <hr>

    <div class="alert alert-success">
        Application started successfully.
    </div>

</div>

</body>
</html>